---
import HTML from "../icons/HTML.astro"
import NodeJS from "../icons/Node.astro"
import CSS from "../icons/CSS.astro"
import JAVASCRIPT from "../icons/JavaScript.astro"
import AWS from "../icons/AWS.astro"
import JAVA from "../icons/Java.astro"
import ANDROID from "../icons/Android.astro"
import KOTLIN from "../icons/Kotlin.astro"

const TAGS = {
    NODE:{
        name: 'NODE', 
        class: 'bg-black text-white', 
        icon: NodeJS,
    },
    HTML:{
        name: 'HTML',
        class: 'bg-black text-white',
        icon: HTML,
    },
    CSS:{
        name: 'CSS',
        class: 'bg-black text-white',
        icon: CSS,     
    },
    JAVASCRIPT:{
        name: 'JAVASCRIPT',
        class: 'bg-black text-white',
        icon: JAVASCRIPT,     
    },
    AWS:{
        name: 'AWS',
        class: 'bg-black text-white',
        icon: AWS,     
    },
    JAVA:{
        name: 'JAVA',
        class: 'bg-black text-white',
        icon: JAVA,     
    },
    ANDROID:{
        name: 'ANDROID',
        class: 'bg-black text-white',
        icon: ANDROID,     
    },
    KOTLIN:{
        name: 'Kotlin',
        class: 'bg-black text-white',
        icon: KOTLIN,     
    },


}

const PROJECTS = [
    {
        title: 'Interactive Weather App',
        description: 
        "The Interactive Weather App is a web application that allows users to check the weather of various cities in real-time. The project consists of a frontend developed in HTML, CSS, and JavaScript, and a backend built with Node.js and Express. The App is connected to an OpenSource API called OpenWeatherMap.",
        github: 'https://github.com/Llarg94/App-clima',
        image: '/dist/projects/appclima.webp',
        tags: [TAGS.NODE, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
    },
    {
        title: 'LibGDX 2D',
        description: 
        "I developed a 2D video game using LibGDX and Kotlin in Android Studio. The game features stylized graphics, smooth controls, and dynamic gameplay mechanics, allowing for interactions such as moving up and down, and shooting. It includes one main level with progressive challenges, as well as sound effects and background music. The game is designed to be simple and fun, providing an engaging an accessible experience for all players.",
        github: 'https://github.com/Llarg94/2Dgame',
        image: '/public/projects/',
        tags: [TAGS.AWS, TAGS.JAVA, TAGS.ANDROID]
    },
    {
        title: 'PuntualApp',
        description: 
        "PuntualApp is an Android app developed in Java designed for online employee attendance tracking. It registers employees' real-time location using the Google API during clock-in and clock-out. The app features a secure login authentication system powered by AWS Amplify and Cognito. Additionally, it connects to a backend hosted on an AWS EC2 server, utilizing PHP to communicate with a MySQL database. The server is equipped with phpMyAdmin for streamlined database management and interaction. Final degree project",
        github: 'https://github.com/Llarg94/PuntualApp',
        image: '/public/projects/...',
        tags: [TAGS.KOTLIN, TAGS.JAVA, TAGS.AWS, TAGS.ANDROID]
    },

]
---

{
    PROJECTS.map(({ image, title, description, tags})  => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2 ">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 mb-4`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img 
            class="rounded shadow-2xl shadow-white/10" 
            src={image} 
            alt={`Captura de pantalla del proyecto ${image}`}/>
        </article>
    ))
}
